:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 35pt;
}

.image {
  height: 350px;
}

.leftSection {
  padding-right: 50px;
}

summary {
  font-weight: bold;
  padding: 0.5em;
  border-bottom: 3px solid #eeeeee;
  
}

summary::marker {
  content: '+';
  font-size: 15pt;
}

details[open] > summary {
  padding: 0.5em;
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

details[open] > summary::marker {
  content: '-';
}

